@using Domain;
@{
    Layout = "../Shared/_Layout.cshtml";
    Pakket p = ViewBag.pakket;
}

<div class="container row mb-5 center">
    @if (ViewBag.error != null)
    {
        <div class="d-flex justify-content-center">
            <div class="container-custom text-center justify-content-center px-5 py-3" style="width: fit-content !important;">
                <h3>@ViewBag.error</h3>
            </div>
        </div>
    }
    <div class="row">
        <h2>@p.Naam</h2>
    </div>
    <div class="container-custom mt-3 mb-3 pt-4">
        <div class="row">
            <div class="col-lg-4">
                <img src="~/images/example_box.png" class="mt-auto mb-auto" width="100%" height="auto" />
            </div>
            <div class="col-lg-8">
                <h3>@p.TypeMaaltijd</h3>
                <h4>€ @Math.Round(p.Prijs, 2),-</h4>

                @if (p.AchtienPlus)
                {
                    <p>Deze maaltijd bevat alcoholhoudende levensmiddelen</p>
                }
                else
                {
                    <p>Deze maaltijd bevat geen alcoholhoudende levensmiddelen</p>
                }

                <p>Kantine: @p.kantine.Stad, @p.kantine.Locatie</p>
                <p>Beschikbaar sinds: @p.DatumTijd</p>
                <p>Ophalen om: @p.OphaalTijd</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Producten</h2>
        @foreach (Product product in p.Producten)
        {
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card mb-3">
                    <img class="card-image-top align-content-center text-center" style="height: 200px; width: auto; object-fit: scale-down;" src="@product.Foto" alt="Card image cap">
                    <div class="card-body">
                        <h5>@product.Naam</h5>
                        @if (product.AlcoholHoudend)
                        {
                            <p>Dit product bevat alcohol.</p>
                        }
                        else
                        {
                            <p>Dit product bevat geen alcohol.</p>
                        }
                    </div>
                </div>
            </div>
        }
        <div>
            <div class="dropdown-divider"></div>
        </div>
    </div>

    <div class="row">
        @if (ViewBag.vorigePagina?.Equals("Reserveren") ?? false)
        {
            <div class="col-sm-6 text-start"><a class="btn btn-custom" asp-action="Reserveren" asp-controller="Pakket">Terug</a></div>
        }
        else if (ViewBag.vorigePagina?.Equals("Home") ?? false)
        {
            <div class="col-sm-6 text-start"><a class="btn btn-custom" asp-action="Index" asp-controller="Home">Terug</a></div>
        }
        else if (ViewBag.vorigePagina?.Equals("Reserveringen") ?? false)
        {
            <div class="col-sm-6 text-start"><a class="btn btn-custom" asp-action="Reserveringen" asp-controller="Pakket">Terug</a></div>
        }
        else if (ViewBag.vorigePagina?.Equals("Pakketten") ?? false)
        {
            <div class="col-sm-6 text-start"><a class="btn btn-custom" asp-action="Pakketten" asp-controller="Pakket">Terug</a></div>
        }
        else if (ViewBag.vorigePagina?.Equals("Pakketbeheer") ?? false)
        {
            <div class="col-sm-6 text-start"><a class="btn btn-custom" asp-action="Pakketbeheer" asp-controller="Pakket">Terug</a></div>
        }
        else
        {
            <div class="col-sm-6 text-start"><a class="btn btn-custom" asp-action="Reserveren" asp-controller="Pakket">Terug</a></div>
        }
        @if (p.GereserveerdDoor == null && User.HasClaim("UserType", "regularuser"))
        {
            <div class="col-sm-6 text-end">
                <a id="myInput" asp-action="ReserveerPakket" asp-controller="Pakket" asp-route-pakketid="@p.Id" type="button" class="btn btn-custom" data-toggle="modal" data-target="#exampleModal">Reserveren</a>
            </div>
        }
    </div>
</div>


