@using Domain;
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container row center">
    <div class="row">
        @if (User.HasClaim("UserType", "poweruser"))
        {
            <h1>@ViewBag.medewerker.Naam</h1>
            <h2>@ViewBag.medewerker.PersoneelsNummer</h2>
            <div class="container-custom mt-3 mb-3 pt-4">
                <div class="row">
                    <div class="col-sm-4 text-end"><p><b>Email</b></p></div>
                    <div class="col-sm-8"><p>@ViewBag.medewerker.Email</p></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-end"><p><b>Geboortedatum:</b></p></div>
                    <div class="col-sm-8"><p>@ViewBag.medewerker.Locatie.Stad, @ViewBag.medewerker.Locatie.Locatie</p></div>
                </div>
            </div>
        }

        @if (User.HasClaim("UserType", "regularuser"))
        {
            <h1>@ViewBag.student.Naam</h1>
            <h2>@ViewBag.student.StudentNummer</h2>
            <div class="container-custom mt-3 mb-3 pt-4">
                <div class="row">
                    <div class="col-sm-4 text-end"><p><b>Geboortedatum:</b></p></div>
                    <div class="col-sm-8"><p>@ViewBag.student.GeboorteDatum</p></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-end"><p><b>Email</b></p></div>
                    <div class="col-sm-8"><p>@ViewBag.student.Email</p></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-end"><p><b>Telefoonnummer:</b></p></div>
                    <div class="col-sm-8"><p>@ViewBag.student.TelefoonNummer</p></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-end"><p><b>Studeert in:</b></p></div>
                    <div class="col-sm-8"><p>@ViewBag.student.StudieStad</p></div>
                </div>
            </div>
        }
        <a class="btn btn-custom" asp-action="Index" asp-controller="Home">Terug</a>
    </div>
</div>
